.center-div {
  margin: 0 auto;
  width: 100px; 
}

#container {
  padding: 20px 20px 20px 20px;
  max-width: 500px;
  margin: auto;
  display: flex;
  float: center;
}

#addtodocontainer {
  margin: auto;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: black;
  cursor: pointer;
}

a:hover {
  color: rgb(15, 96, 218);
  cursor: pointer;
}

.mat-checkbox {
  color: 'warn';
}

#checkbox {
  float: left;
  margin-right: 10px;
  width: auto;
  height: auto;
}

#todoItem {
  width: auto;
  height: auto;
}
